google-generativeai
moviepy
edge-tts
requests
instagrapi
google-api-python-clientgoogle-genai
edge-tts
requests
instagrapi
google-api-python-client
google-auth-oauthlib
playwright
numpy
yt-dlp
google-auth-oauthlib